html {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    background: #FAF6FF;
}

header {
    font-size: 4vw;
    padding: 0px 0rem;
    text-align: right;
    word-spacing: 0.5em;
}

header nav {
    padding: 5px;
    display: inline-block;
}

header nav a {
    font-size: 2vw;

    text-decoration: none;
    color: whitesmoke;
}

header nav a:hover {
    color: grey;
    transition: color 0.2s;
}