@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'resets.css';
@import 'header.css';
@import 'hero.css';
@import 'footer.css';
@import 'tech.css';
@import 'comedyStyle.css';

hr {
    border-color: #8408ff;
    border-width: 3px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    color: #808080;
    margin: 2em auto;
    max-width: 800px;
    text-align: left;
}

h1 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}